<!DOCTYPE html>
<html ng-app="redflare">
<head>
    <title>Redflare, but in Python</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="components/github-fork-ribbon-css/gh-fork-ribbon.css">

    <link rel="stylesheet" href="redflare.css">
</head>
<body>
    <div class="container-fluid" ng-controller="ServerTableCtrl" >
        <h1>
            Redflare, but in Python
            <strong ng-if="loading">
                <i class="fa fa-spin fa-spinner"></i>
            </strong>
        </h1>

        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th class="min">players</th>
                    <th>name</th>
                    <th class="min">mutators</th>
                    <th class="min">game</th>
                    <th class="min">map</th>
                    <th class="min">time left</th>
                    <th class="min">mastermode</th>
                    <th class="min">protocol</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="server in servers track by server.description">
                    <td class="center min">{{server.players_count}}</td>
                    <td class="center">
                        {{server.description}}
                        <div ng-if="server.players">
                            <small ng-repeat="player in server.players track by player.name">
                                <span class="player">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         version="1.1" width="15" height="15" style="vertical-align: text-bottom;">
                                        <defs>
                                            <filter id="colorMask">
                                                <feFlood ng-attr-flood-color="{{player.color}}" result="flood" />
                                                <feComposite in="SourceGraphic" in2="flood" operator="arithmetic" k1="1" k2="0" k3="0" k4="0" />
                                            </filter>
                                            <filter id="brightness">
                                                <feComponentTransfer>
                                                    <feFuncR type="linear" slope="1.5"/>
                                                    <feFuncG type="linear" slope="1.5"/>
                                                    <feFuncB type="linear" slope="1.5"/>
                                                </feComponentTransfer>
                                            </filter>
                                        </defs>
                                        <g filter="url(#brightness)">
                                            <image width="15" height="15" xlink:href="{{player.icon_url}}" filter="url(#colorMask)" />
                                        </g>
                                    </svg>
                                    <strong>{{player.name}}</strong>
                                    <strong ng-if="!$last">&bull;</strong>
                                </span>
                            </small>
                        </div>
                    </td>
                    <td class="right min">{{server.mutators}}</td>
                    <td class="min">{{server.game_mode}}</td>
                    <td class="center min">{{server.map_name}}</td>
                    <td class="center min">{{server.time_left}}</td>
                    <td class="center min">{{server.mastermode}}</td>
                    <td class="center min">{{server.protocol}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <p class="text-center text-muted">
                Built by <a href="https://github.com/TheAssassin">TheAssassin</a>
                <strong>&bull;</strong>
                <a href="https://github.com/TheAssassin/redflare-python">GitHub</a>
            </p>
        </div>
    </footer>

    <script src="components/angular/angular.min.js"></script>
    <script src="redflare.js"></script>
</body>
</html>
