html, .container-fluid {
    position: relative;
    height: 100%;
}

body {
    padding-bottom: 60px;
}

td.min, th.min {
    width: 1px;
    white-space: nowrap;
}

th.center, td.center {
    text-align: center;
}

th.right, td.right {
    text-align: right;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.footer-copyright {
    padding: 12px 0 1px 0;
    vertical-align: middle;
    margin: 0;
}

.footer-geoip {
    font-size: 80%;
}

.player {
    white-space: nowrap;
}

.privilege-icon {
    height: 15px;
    vertical-align: middle;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.75));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.75));
}

.btn-connect-info {
    cursor: pointer;
}

.connect-info {
    font-family: monospace;
    font-size: 90%;
    width: 245px;
}

/* angular-bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.force-inline-block {
    display: inline-block !important;
}

.nowrap {
    white-space: nowrap;
}

.btn-play {
    margin-top: 8px;
}
